

@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}




#content-left {
    
   background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
}

#content-right {
    font-family: 'Roboto', sans-serif;
}

#logo-content {
    margin-top: 200px;
    font-family: Norse-Bold;
}

#logo {
    width: 100px;
}
#logo-small {
    width: 100px;
    filter: invert(100%)
}

#logo-text {
    font-size: 6rem;
}

#button {
    width: 200px;
}